.message {
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-bottom: 8px;
  list-style: none;
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.5;
  background-color: white;
}

