.message {
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-bottom: 8px;
  list-style: none;
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.5;
  background-color: white;
  max-width: 70%;
}

.message_text {
  padding-right: 20px;
}

.message_time {
  text-align: right;
  color: #a9a9a9;
  font-size: 0.8rem;
}

