#root {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.container {
  display: grid;
  height: 100%;
  grid-template-rows: 8fr 2fr;
}

.text_container {
  display: flex;
  align-items: center;
}

.text {
  padding: 12px;
  flex: 1;
  field-sizing: content;
  max-height: 5lh;
}

.button {
  margin-left: 12px;
  padding: 12px;
}
